<form>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="addon-wrapping">
    </div>

    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-file-lock-fill"></i>
        </span>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="reset" class="btn btn-primary">Resetar login e senha</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>